@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/* INDEX- */
body {
  background-color: #E4EEF4; }

.bodyIndex {
  margin: 0; }

/* ---------------1º MENU --------------
.navegacion {
    width: 100%;
    background-color: white;
    text-align: right;

}

.navegacion ul {
    list-style: none;
}

.menu {
    margin: 0;
}


.menu>li {
    display: inline-block;
    position: relative;
}

.menu>li>a {
    display: block;
    padding: 15px 20px;
    color: #353535;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
}

.menu li a:hover {
    color: #ef8354;
    transition: all .3s;

}

/* ------------------ 1º SUBMENU----------------

.submenu {
    position: absolute;
    background: white;
    width: 100%;
    text-align: center;
    display: none;

}

.submenu li a {
    display: block;
    padding: 15px;
    color: #353535;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;

}

.menu li:hover .submenu {
    display: block;
}
*/
/*submenu VIDEOS*/
.subVideos {
  display: inline-block;
  position: relative;
  left: 500px; }

/* INDEX - MAIN*/
.imagenFondo {
  background-image: url("../IVO1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.contenedorIndex {
  width: 100%;
  height: 90vh;
  max-height: max-content; }

.tituloIndex {
  color: black;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 5px;
  margin-top: 0; }

.subtituloIndex {
  color: black;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

.parrafoIndex {
  font-size: 20px;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

/*FOOTER INDEX*/
.redesHija {
  display: flex;
  padding: 30px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: center; }

/* Iconos */
.redesHija i {
  font-size: 40px;
  color: white;
  margin-left: 60px; }

.redesHija i:hover {
  color: #ef8354; }

.infoUno {
  color: black;
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

.infoDos {
  color: #3a2f2f;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

footer ol {
  list-style: none; }

/* SOBRE MI */
.fotoIvan img {
  width: 32vw;
  height: auto; }

.bodySobreMi {
  margin: 0;
  line-height: 2.3; }
  .bodySobreMi main {
    justify-content: space-between;
    margin: 30px 50px;
    height: 90vh; }
    .bodySobreMi main .color-silver {
      background-color: silver; }

/* div.texto {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 50px;
}

.texto p {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 50vw;
    line-height: 1.3;
    font-size: 20px;


}

.texto p p{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

} */
/* Con Bootstrap */
.texto-sobremi p {
  padding: 0 20px; }

/*FOOTER*/
.claseFooter {
  display: flex;
  justify-content: space-evenly;
  background-color: #cdcdde;
  background: radial-gradient(circle, #cdcdde 0%, #0b0b12 100%);
  /*position: sticky;
    bottom: 0;
    width: 100%;*/ }

.footerTitulo {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  color: #000000;
  margin-top: 10px; }

.footerSubtitulos {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px; }

.rowUno {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

.rowDos {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

.rowDos i {
  color: black;
  font-size: 15px;
  margin-right: 20px;
  color: white; }

.rowDos a {
  text-decoration: none;
  color: white;
  margin-top: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

.rowDos a:hover {
  color: #ef8354; }

/* CONTACTO*/
.altoContacto {
  height: 78vh; }

.bodyContacto {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  background-color: #E4EEF4; }

.tituloContacto {
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.6; }

/* material extra FOTOS */
.carrousel {
  width: 50vw;
  margin: auto; }

.fotos {
  width: auto;
  height: 80vh; }

.main {
  margin-right: 40px;
  margin-bottom: 40px; }

#fotos {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(5, 50%);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-top: 20px;
  margin-left: 40px; }

.tituloFotos {
  color: #040452;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center; }

/*PROBANDO TRANSICIONES*/
.snip1585 {
  background-color: #292e39;
  color: #fff;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  /* margin: 10px; */
  /* max-width: 315px; */
  /* min-width: 230px; */
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%; }

.snip1585 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease; }

.snip1585:before,
.snip1585:after {
  background-color: rgba(46, 52, 64, 0.5);
  border-top: 50px solid rgba(46, 52, 64, 0.5);
  border-bottom: 50px solid rgba(46, 52, 64, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1;
  opacity: 0; }

.snip1585:before {
  -webkit-transform: scaleY(2);
  transform: scaleY(2); }

.snip1585:after {
  -webkit-transform: scaleY(2);
  transform: scaleY(2); }

.snip1585 img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden; }

.snip1585 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.1em;
  opacity: 0;
  z-index: 2;
  -webkit-transition-delay: 0s;
  transition-delay: 0s; }

.snip1585 h3 {
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0;
  text-transform: uppercase; }

.snip1585 h3 span {
  display: block;
  font-weight: 700; }

.snip1585 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3; }

.snip1585:hover > img,
.snip1585.hover > img {
  opacity: 0.7; }

.snip1585:hover:before,
.snip1585.hover:before,
.snip1585:hover:after,
.snip1585.hover:after {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1; }

.snip1585:hover figcaption,
.snip1585.hover figcaption {
  opacity: 1;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s; }

/* material extra VIDEOS*/
.videos {
  height: auto;
  width: 30vw;
  margin-bottom: 20px; }

#videos {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 33.3% 33.3% 33.3%;
  margin-top: 40px;
  justify-items: center; }

video {
  margin-top: 30px; }

.tituloVideos {
  color: #040452;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  margin: 0; }

h1 .tituloVideos {
  margin: 0; }

/* MATERIAL EXTRA */
.bodyMT {
  width: 1000px;
  height: 500px; }

.bodyMaterialExtra {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0; }

#contacto {
  font-size: 20px;
  color: black;
  border: solid; }

/* Formulario  */
form {
  display: flex;
  justify-content: center;
  margin-bottom: 30px; }

legend,
input,
fieldset {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

#contacto {
  display: flex;
  flex-direction: column; }

.margin-auto {
  margin: 0 auto; }

#mixins {
  display: flex;
  height: 100vh;
  color: burlywood;
  justify-content: center; }
  #mixins .tarjeta-1 {
    background-color: #525252;
    width: 250px;
    height: 450px;
    margin: 2rem;
    padding: 10px; }
    #mixins .tarjeta-1 div.imagen {
      background-color: white;
      width: 175px;
      height: 150px;
      margin: 0 auto;
      margin-bottom: 1rem; }
  #mixins .tarjeta-2 {
    background-color: #225252;
    width: 250px;
    height: 450px;
    margin: 2rem;
    padding: 10px; }
    #mixins .tarjeta-2 div.imagen {
      background-color: white;
      width: 175px;
      height: 150px;
      margin: 0 auto;
      margin-bottom: 1rem; }
  #mixins .tarjeta-3 {
    background-color: #9c2626;
    width: 250px;
    height: 450px;
    margin: 2rem;
    padding: 10px; }
    #mixins .tarjeta-3 div.imagen {
      background-color: white;
      width: 175px;
      height: 150px;
      margin: 0 auto;
      margin-bottom: 1rem; }

/* Media Querys */
/* Dispositivos xs */
@media screen and (max-width: 576px) {
  .color-silver {
    max-height: 10rem;
    font-size: 0.1rem; }
  .maldita-foto {
    width: auto;
    max-height: 20vh; } }

/* Dispostivo Small */
@media (min-width: 577px) and (max-width: 768px) {
  .color-silver {
    max-height: 13rem;
    font-size: .1rem; }
  .maldita-foto {
    width: auto;
    max-height: 25vh; } }

/* Dispostivo medium */
@media (min-width: 769px) and (max-width: 992px) {
  .color-silver {
    max-height: 21rem;
    font-size: .45rem; }
  .maldita-foto {
    width: auto;
    max-height: 42vh; } }

/* Dispostivo grande */
@media (min-width: 993px) and (max-width: 1200px) {
  .color-silver {
    max-height: 27rem;
    font-size: .7rem; }
  .maldita-foto {
    width: auto;
    max-height: 60vh; } }

/* Dispostivo XL */
@media (min-width: 1201px) and (max-width: 120000px) {
  .color-silver {
    max-height: 32.5rem;
    font-size: 0.85rem; }
  .maldita-foto {
    width: auto;
    max-height: 66vh; } }
